.box1{
    float: left;
    width: 300px;
}

.box2{
    float: left;
    width: 283px;
}

.box3{
    float: left;
    width: 300px;
}

.box4{
    float: initial;
    width: 892px;
}

div{
    border: 2px solid red;
}